@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.sign-in{
    background-color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

div{
    border: 2px red solid;
}

.sign-in-body{
    background-color: black;
    height: 100%;
}

.sign-in-box,
.picture-box{
    width: 50%;
}

.sign-in-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width:20%;
    height: 10%;
    padding:20px;
    margin-right:14%;
}

.form-heading{
    font-family: 'Special Elite', cursive;
    font-size: 50px;
}

.cover-pic{
    max-width: 100%;
    max-height: 100%;
    object-fit:cover;
}

.picture-box{
    padding: 0;
}

.sign-in-landingpage{
    height: 100%;;
}